*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(219, 227, 237);
}

header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(1, 32, 57);
    color: rgb(248, 248, 248);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

header h1 {
    display: inline-block;
    font-size: 40px;
}

header nav {
    padding: 10px;
    margin-right: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    margin-left: 24px;
}

header nav ul li a {
    color: rgb(248, 248, 248);
}

a {
    color: rgb(1, 32, 57);
    text-decoration: underline;
}

p {
    font-size: 20px;
    margin-top: 50px;
}

#about-me {
    display: flex;
    gap: 100px;
    padding-top: 20px;
}


.about-me img {
    width: 15%;
}

.about-me h2 {
    color: rgb(1, 32, 57);
    font-size: 45px;
    border: 2px solid;
    border-top: none;
    border-bottom: none ;
    border-left: none;
    padding: 31px;
}

#work {
    display: flex;
    align-items: center;
    gap: 50px;
}


.work h2 {
    color: rgb(1, 32, 57);
    font-size: 45px;
    position: relative;
    margin-top: 40px;
    padding: 40px;
    border: 2px solid;
    border-top: none;
    border-bottom: none;
    border-left: none;
}

.work-container {
    display: flex;
}

.work-container a {
    display: inline-flex;
    justify-content: flex-end;
    font-size: 20px;
    padding: 25px;
}

.work-info {
    padding: 80px;
}

.run-buddy {
    width: 707px;
    margin-top: 50px;
    position: relative;
    border: 5px solid lightblue;
}

.run-buddy-heading {
    position: absolute;
    left: 347px;
    bottom: -59px;
    border: 3px solid lightblue;
    padding: 15px;
    background-color: lightblue;
    display: flex;
}

.coming-soon {
    width: 345px;
    margin-top: -25px;
    position: relative;
    border: 5px solid lightblue;
}

.coming-soon-heading {
    position: absolute;
    left: 347px;
    bottom: -274px;
    border: 3px solid lightblue;
    padding: 15px;
    background-color: lightblue;
    display: flex;
}

.anchor {
    position: relative;
    left: 362px;
    bottom: 207px;
}

.soon-coming {
    width: 345px;
    margin-top: -25px;
    border: 5px solid lightblue;
}

.soon-coming-heading {
    position: absolute;
    right: 385px;
    bottom: -276px;
    border: 3px solid lightblue;
    padding: 15px;
    background-color: lightblue;
    display: flex;
}

.work-anchor {
    position: relative;
    top: -56px;
}

.soon-to-come {
    width: 345px;
    margin-top: -166px;
    border: 5px solid lightblue;
}

.soon-to-come-heading {
    position: absolute;
    left: 347px;
    bottom: -476px;
    border: 3px solid lightblue;
    padding: 15px;
    background-color: lightblue;
    display: flex;
    
}

.coming-soon-anchor {
    position: relative;
    top: -56px;
}

.soon {
    width: 345px;
    margin-top: -166px;
    border: 5px solid lightblue;
    position: absolute;
    right: -685px;
    bottom: 75px;
}

.soon-heading {
    position: absolute;
    right: 379px;
    bottom: -474px;
    border: 3px solid lightblue;
    padding: 15px;
    background-color: lightblue;
    display: flex;
}


.contact-me h2 {
    color: rgb(1, 32, 57);
    font-size: 45px;
    font-style: normal;
    border: 2px solid;
    border-top: none;
    border-bottom: none;
    border-left: none;
    padding: 22px;

}

.my-contact-info {
    display: flex;
    align-items: center;
}

.my-contact-info ul {
    padding: 20px;
    margin: 21px;
    position: relative;
    left: 126px;
}

.my-contact-info ul li {
    display: inline-flex;
    justify-content: flex-end;
    list-style: none;  
    font-size: 20px;
    padding: 25px;
}




